/*
	Slate by Pixelarity
	pixelarity.com @pixelarity
	License: pixelarity.com/license
*/

/* Banner */

	#banner > article {
		display: none;
	}

		#banner > article:first-child {
			background-image: url("../../cimages/vertical_big.jpg");
			display: block !important;
			opacity: 1 !important;
			visibility: visible !important;
		}
