a:hover {
  opacity: .5;
-webkit-transform: scale(1.02);
 -moz-transform:    scale(1.02);
 -o-transform:      scale(1.02);
 -ms-transform:     scale(1.02);
}
/*
h2:hover{
  opacity: .5;
-webkit-transform: scale(1.02);
 -moz-transform:    scale(1.02);
 -o-transform:      scale(1.02);
 -ms-transform:     scale(1.02);
}
*/
.contactImage{
  margin: 0 auto;
  text-align: center;
}

.text-centered {
  text-align: center;
  font-weight: 150%
  color: blue;
  text-decoration: underline;
}

.article {
  width: 88%;
  margin: 0 auto;
}

@media screen and (min-width: 980px) {

  .article {
    height: 400px;
  }

}

.centerIt{
  text-align: center;
  margin: 0 auto;
}

.centerfa {
  display: block;
  text-align: center;
}

.iconspace {
  margin-bottom: 35px;
}

.hoverImage:hover {
opacity: .5;
-webkit-transform: scale(1.08);
 -moz-transform:    scale(1.08);
 -o-transform:      scale(1.08);
 -ms-transform:     scale(1.08);
}

caption{
  font-weight: 2em;
}

.smaller {
  font-size: 13px;
  text-align: center;

}

.mobilePadding {

margin-top: 4vh !important;

}


/*
.contactCentered{
  display: block;
  position: relative;
  text-align: center;
  margin: 0 auto;
}*/

/*.iconBigger {
  font-weight: 200px;
}

.myIcons {
  list-style: none;
}*/
